<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <bean id="defaultConfig" class="com.free.credit.api.remote.RemoteInvokeConfig" scope="prototype">
        <property name="partnerId" value="${partnerId}" />
    </bean>

    <!-- SOA接口调用基础入参配置 -->
    <bean id="userRemoteInvokeConfig" class="com.free.credit.api.remote.RemoteInvokeConfig" scope="prototype">
        <property name="partnerId" value="${partnerId}" />
        <property name="singKeyStr" value="user.service.signKey" />
    </bean>

</beans>