<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

	<dubbo:application id="defaultApplication"
                       name="${dubbo.application.name}"
                       owner="${dubbo.application.owner}"
                       organization="${dubbo.application.organization}" />

	<dubbo:protocol id="defaultProtocol"
                    name="${dubbo.protocol.name}"
                    port="${dubbo.protocol.port}"
                    />

	<dubbo:registry id="defaultRegistry"
                    client="${dubbo.registry.client}"
                    protocol="${dubbo.registry.protocol}"
                    address="${dubbo.registry.address}"
                    file="${dubbo.log4j.file}"/>

    <dubbo:consumer id="defaultConsumer"
                    timeout="${dubbo.consumer.timeout}"
                    retries="${dubbo.consumer.retries}"
                    loadbalance="${dubbo.consumer.loadbalance}"
                    cluster="${dubbo.consumer.cluster}"
                    check="false"
                    group="${dubbo.consumer.group}"
                    version="${dubbo.consumer.version}" />
                    
    <dubbo:monitor protocol="registry"/>        

	<import resource="classpath*:dubbo/*/*.xml" ></import>
	
</beans>